/* reset */
* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
a {
    color: #333;
    text-decoration: none;
}
li {
    list-style: none;
}
.clearfix::before, .clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/* wrap */
#wrap {
    width: 1000px;
    margin: 0 auto;
}

/* header */
#header h1 {
    float: left;
    padding: 15px 0 10px;
}
#header h1 img {
    width: 100px;
}
#header .nav {
    float: right;
}
#header .nav li {
    position: relative;
    float: left;
    width: 140px;
    text-align: center;
}
#header .nav li a {
    display: block;
    font-size: 18px;
    font-weight: 500;
    padding: 26px 0 21px 0;
}
#header .nav li a:hover {
    background: #ccc;
}
#header .nav li ul.subMenu {
    display: none;
    position: absolute;
    left: 0;
    top: 71px;
    z-index: 100;
}
#header .nav li ul.subMenu li a {
    padding: 10px;
    background: #888;
}
#header .nav li ul.subMenu li a:hover {
    background: #666;
}

/* banner */
#banner {
    height: 426px;
    overflow: hidden;
}
#banner img {
    width: 1000px;
    /* 이미지 사이 여백(inline구조라) 없애기 */
    display: block;
}
/* 상하 */
/* .slideList { */
    /* top값을 주기 위해서 */
    /* position: relative;
    width: 1000px;
    height: 426px;
}
.slideList .slideImg {
    position: relative;
}
.slideList .slideImg h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255,255,255,0.6);
    padding: 10px 30px;
    border-radius: 20px;
} */
/* 좌우 */
.slideList {
    position: relative;
    width: 3000px;
    z-index: 50;
}
.slideList .slideImg {
    position: relative;
    width: 1000px;
    float: left;
}
.slideList .slideImg h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255,255,255,0.6);
    padding: 10px 30px;
    border-radius: 20px;
}

/* content1 */
#content1 {
    margin-top: 20px;
}
#content1 .left {
    float: left;
    width: 49%;
    padding: 20px;
    background: #f2f2f2 url(../images/icon1.jpg) no-repeat right 20px center;
    background-size: 80px;
    box-sizing: border-box;
    margin-right: 2%;
}
#content1 .left .tit {
    font-size: 20px;
    padding-bottom: 10px;
}
#content1 .left .desc {
    font-size: 14px;
    color: #666;
    padding-bottom: 15px;
}
#content1 .left .btn {
    background: url(../images/location.jpg) no-repeat left top;
    background-size: 15px;
    padding-left: 25px;
    padding-top: 2px;
    font-weight: 600;
}
#content1 .right {
    float: left;
    width: 49%;
    margin-right: 0;
    padding: 20px;
    box-sizing: border-box;
    background: #f2f2f2 url(../images/delivery.jpg) no-repeat right 20px center;
    background-size: 80px;
    cursor: pointer;
}
#content1 .right .tit {
    font-size: 20px;
    padding-bottom: 10px;
}
#content1 .right .desc {
    font-size: 14px;
    color: #666;
    padding-bottom: 15px;
}
#content1 .right .btn {
    background: url(../images/time.jpg) no-repeat left top;
    background-size: 15px;
    padding-left: 25px;
    padding-bottom: 3px;
    font-weight: 600;
}
#content1 .right .btn em {
    font-size: 13px;
    color: #999;
    font-style: normal;
    padding-left: 5px;
}

/* content2 */
#content2 {
    margin-top: 30px;
    margin-bottom: 50px;
}
.tab-menu .tab-btn {
    overflow: hidden;
}
.tab-menu .tab-btn li {
    float: left;
    margin-right: 15px;
}
.tab-menu .tab-btn li a {
    display: block;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    color: #999;
}
.tab-menu .tab-btn li.active a {
    color: #000;
}
.tab-cont .best figure {
    float: left;
    width: 32%;
    margin-right: 2%;
}
.tab-cont .best figure img {
    width: 100%;
}
.tab-cont .best figure figcaption {
    font-weight: 700;
    padding-top: 5px;
    font-size: 16px;
    line-height: 1.7;
}
.tab-cont .best figure figcaption em {
    font-style: normal;
    color: #999;
    font-weight: 500;
    padding-left: 5px;
}
.tab-cont .best figure:last-child {
    margin-right: 0;
}

/* footer */
#footer {
    padding: 50px 200px;
    background: #202020;
    margin-top: 30px;
}
#footer h2 {
    float: left;
    padding-left: 20px;
}
#footer h2 img {
    width: 150px;
}
#footer .foot {
    float: right;
    padding-right: 50px;
}
#footer .foot ul {
    padding-bottom: 10px;
}
#footer .foot ul li {
    display: inline;
}
#footer .foot ul li a {
    color: #cdcdcd;
    padding-right: 10px;
}
#footer .foot address {
    font-style: normal;
    color: #999;
    font-weight: 300;
    font-size: 14px;
}

/* layer */
.layer_bg {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 900;
}
.layer {
    display: none;
    position: absolute;
    left: 30px;
    top: 30px;
    width: 500px;
    height: 500px;
    border: 3px solid #000;
    background: #fff;
    z-index: 1000;
}
.layer h2 {
    padding: 20px;
    color: #000;
}
.layer .close {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
