.memory__wrap {
    /* display: none; */
    transform: scaleX(0);
    transition: all 0.3s ease;
}

.memory__wrap.show {
    /* display: block; */
    transform: scaleX(1);
}

.memory__inner {
    width: 1000px;
    height: 600px;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 100px;
    left: 200px;
    padding: 50px;
    border: 1px solid #000;
    text-align: center;
    overflow: scroll;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* .memory__inner {
    width: 600px;
    padding: 0 2rem;
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    left: 400px;
    top: 100px;
    border-radius: 20px;
    text-align: center;
    animation: flicker 1.5s infinite alternate;
} */

.memory__info {
    width: 45%;
    position: relative;
}

.memory__info>span {
    color: #fff;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    display: inline-block;
}

.memory__info>h1 {
    color: #fff;
    font-size: 2.5vw;
    margin-bottom: 10px;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #73FBF9, 0 0 42px #73FBF9,
        0 0 82px #73FBF9, 0 0 92px #73FBF9, 0 0 102px #73FBF9, 0 0 151px #73FBF9;
    animation: flicker 1.5s infinite alternate;
}

.memory__info .desc {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    line-height: 1.4;
    font-size: 18px;
    display: none;
}

.memory__info .desc.show {
    display: block;
}

.memory__info .times {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    display: none;
}

.memory__info .times.show {
    display: flex;
}

.memory__info .times .pz {
    display: inline;
    width: 70px;
    height: 70px;
    background-image: url(../img/puzzle.png);
    background-size: cover;
    background-position: center;
    margin-right: -21px;
    margin-bottom: -20px;
}

.p1.hide,
.p2.hide,
.p3.hide,
.p4.hide,
.p5.hide,
.p6.hide,
.p7.hide,
.p8.hide,
.p9.hide,
.p10.hide {
    background-image: url(../img/puzzle-outline.png);
}

.memory__info .start {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    background: #73FBF9;
    width: 70%;
    border-radius: 50px;
    font-size: 18px;
    border: 2px solid #73FBF9;
    padding: 15px 20px;
    color: #333;
}

.memory__info .restart {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    background: #73FBF9;
    width: 70%;
    border-radius: 50px;
    font-size: 18px;
    border: 2px solid #73FBF9;
    padding: 15px 20px;
    color: #333;
    display: none;
}

.memory__info .restart.show {
    display: block;
}

.memory__card {
    width: 55%;
    padding: 30px;
}

.memory__card .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.memory__card .cards li {
    position: relative;
    list-style: none;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.memory__card .cards li img {
    scale: 0.5;
}

.memory__card .cards li .view {
    position: absolute;
    height: 100px;
    width: 100px;
    background: #222;
    backface-visibility: hidden;
    border-radius: 20px;
    transition: all 0.5s;
    user-select: none;
    pointer-events: none;
}

.memory__card .cards li:hover .view {
    background: #555;
}

.memory__card .cards li .front {
    transform: rotateY(0deg);
}

.memory__card .cards li.flip .front {
    transform: rotateY(180deg);
}

.memory__card .cards li .back {
    transform: rotateY(-180deg);
}

.memory__card .cards li.flip .back {
    transform: rotateY(0deg);
}

.memory__card .cards li.shakeX {
    animation: shakeX 1s 1;
}

.memory__card .cards li.shakeY {
    animation: shakeY 1s 1;
}

@keyframes shakeX {

    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

.animate__shakeX {
    -webkit-animation-name: shakeX;
    animation-name: shakeX;
}

@-webkit-keyframes shakeY {

    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
}



.memory__close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 20px;
    height: 15px;
    background-image: url(../img/code_close.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}