<main id="main">
    <div class="document">
        <h2 class="t_tit">Layout </h2>
        <p class="t_desc">
            레이아웃이란 이미지나 글 등을 화면에서 보기 좋게 배열하는 것을 말합니다. 
            이번 게시글에서는 <i>layout을 만드는 3가지 방법</i>을 알아보려고 합니다.
        </p>

        <hr>

        <!-- float -->
        <h3 class="t_tit2">1. Float-based layout</h3>
        <p class="t_desc2">
            float의 사전적 의미는 '뜨다','떠돌다'이며 말 그대로 특정 요소를 뜨게 하도록 해주는 속성입니다.<br>
            플로팅 된 요소는 블럭 요소가 되며 display: inline-block;을 한 것과 같이 됩니다.
        </p><br>
        <h4 class="t_tit3">01. float: 속성값(value);</h4>
        <img class="t_img2" src="https://tistory2.daumcdn.net/tistory/5478752/skin/images/float_1.jpg">
        <table class="t_table">
            <thead>
                <tr>
                    <th>속성값</th>
                    <th>의미</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="ce">left</td>
                    <td>요소를 왼쪽 방향으로 띄운다</td>
                </tr>
                <tr>
                    <td class="ce">right</td>
                    <td>요소를 오른쪽 방향으로 띄운다</td>
                </tr>
                <tr>
                    <td class="ce">none</td>
                    <td>기본값, 요소를 띄우지 않는다</td>
                </tr>
            </tbody>
        </table>

        <h4 class="t_tit3">02. 플로팅 해제</h4>
        <p class="t_desc">
            플롯의 원기능은 글씨와 이미지가 있을 때 정리해주기 위해 나온 속성으로
            플로팅한 요소는 기본적인 문서의 배치에서 벗어난 상태이기 때문에 레이아웃이 깨지는 버그가 발생합니다.<br>
            이때 플로팅을 해제하는 방법 3가지를 알아보겠습니다.
        </p>
        <table class="t_table">
            <thead>
                <tr>
                    <th>속성값</th>
                    <th>의미</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="ce">clear</td>
                    <td>float의 영향을 받지 않도록 해주는 속성</td>
                </tr>
                <tr>
                    <td class="ce">overflow</td>
                    <td>
                        overflow: hidden;<br>
                        내가 지정한 영역 외에는 안보이게 해주는 속성<br>
                        height 값이 없어지는 버그는 사라지지만 2차메뉴, 3차메뉴 만들게되면 쓰지 못한다
                    </td>
                </tr>
                <tr>
                    <td class="ce">clearfix</td>
                    <td>
                        영역을 잡아주기 위한 속성<br>
                        float을 사용한 부모박스에 적용시킨다
                    </td>
                </tr>
            </tbody>
        </table><br>

        <hr>

        <!-- flex -->
        <h3 class="t_tit2">2. Flex-based layout</h3>
        <p class="t_desc2">
            공간에 따라 크기를 유연하게 조절할 수 있으며 시각적인 순서와 방향을 정할 수 있다는 특징이 있으며 익스플로어에서는 사용할 수가 없습니다.<br>
            기본적인 구성은 부모 요소(container)와 자식 요소(item)으로 이루어지며, flex는 자식 요소를 감싸는 부모 요소에 적용하면 됩니다.
        </p><br>
        <h4 class="t_tit3">01. display: 속성값(value);</h4>
        <img class="t_img2" src="https://tistory3.daumcdn.net/tistory/5478752/skin/images/flex_1.jpg">
        <img class="t_img2" src="https://tistory2.daumcdn.net/tistory/5478752/skin/images/flex_2.jpg">
        <p class="t_desc">
            flex container를 정의하는 속성입니다. container와 그 주변 요소 사이의 관계를 생각하시면 됩니다.
        </p>
        <table class="t_table">
            <thead>
                <tr>
                    <th>속성값</th>
                    <th>의미</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="ce">flex</td>
                    <td>block 특성의 flex container를 정의</td>
                </tr>
                <tr>
                    <td class="ce">inline-flex</td>
                    <td>inline 특성의 flex container를 정의</td>
                </tr>
            </tbody>
        </table><br>

        <h4 class="t_tit3">02. flex-wrap: 속성값(value);</h4>
        <p class="t_desc">
            플렉스 항목들의 열을 바꾸는 방법을 제어하는 속성으로 각각의 항목이 아닌 플렉스 컨테이너에 지정해줍니다.
        </p>
        <table class="t_table">
            <thead>
                <tr>
                    <th>속성값</th>
                    <th>의미</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="ce">nowrap</td>
                    <td>기본값, 플렉스 항목들이 wrap 되지 않도록 지정한다</td>
                </tr>
                <tr>
                    <td class="ce">wrap</td>
                    <td>플렉스 항목들이 컨테이너 내에서 여러 줄로 열 바꿈을 할 수 있게 지정한다</td>
                </tr>
                <tr>
                    <td class="ce">wrap-reverse</td>
                    <td>정렬 방향을 반대로 나열한다</td>
                </tr>
                <tr>
                    <td class="ce">initial</td>
                    <td>기본값</td>
                </tr>
                <tr>
                    <td class="ce">inherit</td>
                    <td>부모 요소로부터 값을 상속 받는다</td>
                </tr>
            </tbody>
        </table><br>
        
        <h4 class="t_tit3">03. flex-direction: 속성값(value);</h4>
        <p class="t_desc">
            플렉스 항목들의 흐름 방향을 제어하는 속성으로
            전체 플렉스 항목을 제어하기 때문에 각 항목이 아닌 플렉스 컨테이너에 지정해야 합니다. 
        </p>
        <table class="t_table">
            <thead>
                <tr>
                    <th>속성값</th>
                    <th>의미</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="ce">row</td>
                    <td>기본값, 왼쪽에서 오른쪽으로 나열한다</td>
                </tr>
                <tr>
                    <td class="ce">row-reverse</td>
                    <td>오른쪽에서 왼쪽으로 나열한다</td>
                </tr>
                <tr>
                    <td class="ce">column</td>
                    <td>수직으로 위쪽에서 아래쪽으로 나열한다</td>
                </tr>
                <tr>
                    <td class="ce">column-reverse</td>
                    <td>수직으로 아래쪽에서 위쪽으로 나열한다</td>
                </tr>
            </tbody>
        </table><br>

        <hr>

        <!-- grid -->
        <h3 class="t_tit2">3. Grid-based layout</h3>
        <p class="t_desc2">
            float이나 flex처럼 1차원적인 레이아웃이 아닌 2차원(행과 열)적인 레이아웃을 만드는 속성입니다.
        </p>
        <h4 class="t_tit3">01. display: 속성값(value);</h4>
        <p class="t_desc">
            grid container를 정의하는 속성입니다.
        </p>
        <table class="t_table">
            <thead>
                <tr>
                    <th>속성값</th>
                    <th>의미</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="ce">grid</td>
                    <td>block 특성의 grid container를 정의</td>
                </tr>
                <tr>
                    <td class="ce">inline-grid</td>
                    <td>inline 특성의 grid container를 정의</td>
                </tr>
            </tbody>
        </table><br>

        <img class="t_img2" src="https://tistory4.daumcdn.net/tistory/5478752/skin/images/grid_1.jpg">
        <h4 class="t_tit3">02. grid-area: 이름 지정;</h4>
        <p class="t_desc">
            그리드 영역의 이름을 지정해줍니다.
            이 속성은 grid container가 아닌 grid 요소에 적용해줍니다.
        </p><br>

        <h4 class="t_tit3">03. grid-template-areas: 그리드 영역 지정;</h4>
        <p class="t_desc">
            지정해 놓은 그리드 영역을 템플릿으로 생성합니다.
            비어있는 영역은 .(마침표)를 사용하거나 none을 입력해 정의해 줄 수 있습니다.
        </p>
        <div class="t_code">
<pre><code>.container {
grid-template-areas:
    "header header header"
    "nav nav ."
    "aside article section"
    "footer footer footer"
;
}
</code></pre></div>

        <h4 class="t_tit3">04. grid-template-columns: 크기 지정;</h4>
        <p class="t_desc">
            열의 크기를 지정합니다.
        </p>
        <div class="t_code">
<pre><code>.container {
grid-template-columns: 300px 600px 300px;
}
</code></pre></div>

        <h4 class="t_tit3">05. grid-template-rows: 크기 지정;</h4>
        <p class="t_desc">
            행의 크기를 지정합니다.
        </p>
        <div class="t_code">
<pre><code>.container {
grid-template-rows: 300px 600px 300px;
}
</code></pre></div>
        
    </div>
</main>